<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script src="/scripts/admin.js"></script>
</head>
<body>

<div class="container admin">

    <h2>Status <span id="connected">not connected</span></h2>
    <hr>
    <button id="connect">connect</button>
    <hr>
    <button id="start">start</button>
    <hr>
    <h3>Total players <span id="players"></span></h3>

</div>

</body>
</html>
