<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script src="/scripts/admin.js"></script>
</head>
<body>

<div class="container admin">

    <button id="connect">connect</button>
    <hr>
    <button id="start">start</button>
    <hr>
    <h1 id="players"></h1>

</div>

</body>
</html>
