<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script src="/scripts/client.js"></script>
</head>
<body>

<div class="container">
    <h1>Hot Hot Potato</h1>
    <h2>Players <span id="players">0</span></h2>
    <img src="potato.png" alt="Hot Hot Potato" width="185" height="227"/>
    <a id="wantPlay" class="button">Start NOW!</a>
    <a id="notMe" class="button no">NO!</a>

    <h1 id="youLose" class="well">YOU LOSE!</h1>
    <div id="gameOver" class="well">GAME OVER</div>

</div>

</body>
</html>
